
# Ignore .ssh files
dotfiles/.ssh/id_rsa
dotfiles/.ssh/id_rsa.pub
dotfiles/.ssh/known_hosts

# Ignore computer specific git configuration
dotfiles/.gitconf/local

# Ignore non-user Sublime Text files
/dotfiles/Library/Application\ Support/Sublime\ Text\ 3/Packages/User
